header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

header h1 {
  display: inline-block;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header ul li {
  margin-left: 10px;
}

header a,
header a:visited {
  text-decoration: none;
  color: white;
}

header button {
  background: none;
  border: none;
  font-size: large;
  color: white;
}
